<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-links">
                <a href="#">Website Policies</a>
                <a href="/contacts">Contact Us</a>
                <a href="#">Disclaimer</a>
                <a href="#">Sitemap</a>
            </div>
            <div class="footer-info">
                <p>&copy; 2026 Andhra Pradesh Special Police</p>
                
                <p>Content Provided by and Maintained by PRISM AP Police</p>
            </div>
        </div>
    </div>
</footer>
